14/5/2022

In [12]:
# 14/5/2022
a = 10
a - 2

8

In [5]:
type(a)

int

In [6]:
b = 78.9
type(b)

float

In [7]:
c = "This is my first class of python and today's data is 14th may 2022"
c

"This is my first class of python and today's data is 14th may 2022"

In [8]:
type(c)

str

In [9]:
True - False

1

In [10]:
True/False

ZeroDivisionError: division by zero

In [11]:
False/True

0.0

In [15]:
n = 5+7j
type(n)

complex

In [17]:
n.imag

7.0

In [18]:
n.real

5.0

String

15/5/2022

In [1]:
# 15 /5 /2022
s2 = "this is my Data Science class"

In [2]:
s2[3:7]

's is'

In [3]:
s2[6:36]

's my Data Science class'

In [6]:
s2[3:30:3]

'ssya iccs'

In [7]:
s2[0:9:-1]

''

In [8]:
s2[9:0:-1]

'ym si sih'

In [10]:
s2[:-3:2]

'ti sm aaSinec'

In [11]:
s2[-2:]

'ss'

In [12]:
s2[::1]

'this is my Data Science class'

In [14]:
s2[0:50:1]

'this is my Data Science class'

In [15]:
s2[::-1]

'ssalc ecneicS ataD ym si siht'

In [16]:
len(s2)

29

In [19]:
s2[29:0:-1]

'ssalc ecneicS ataD ym si sih'

In [20]:
s2[-2:-9:1]

''

In [21]:
s2[-9:-2:1]

'nce cla'

In [22]:
s2[:-1:-1]

''

In [23]:
s2 + 1

TypeError: can only concatenate str (not "int") to str

In [24]:
s2 + '1'

'this is my Data Science class1'

In [25]:
s2 + "1"

'this is my Data Science class1'

In [29]:
s3 = s2 +str(1)
s3

'this is my Data Science class1'

In [30]:
s2

'this is my Data Science class'

In [31]:
s3

'this is my Data Science class1'

In [33]:
s2 +" "+ s3

'this is my Data Science class this is my Data Science class1'

In [34]:
s3*2

'this is my Data Science class1this is my Data Science class1'

In [39]:
s3.count('s')

4

In [40]:
s3.count('ebm')

0

In [42]:
s3.split('s')

['thi', ' i', ' my Data Science cla', '', '1']

In [43]:
type(s3.split('s'))

list

In [44]:
s3.capitalize()

'This is my data science class1'

In [45]:
s3.upper()

'THIS IS MY DATA SCIENCE CLASS1'

In [47]:
s3.lower()

'this is my data science class1'

In [48]:
s3

'this is my Data Science class1'

In [49]:
s3 = s3.upper()

In [50]:
s3

'THIS IS MY DATA SCIENCE CLASS1'

In [51]:
s3.lower()

'this is my data science class1'

In [54]:
s2

'this is my Data Science class'

In [55]:
s2.title()

'This Is My Data Science Class'

In [56]:
s2.capitalize()

'This is my data science class'

In [98]:
s="Sudhanshu kuMAR"

In [99]:
s.swapcase()

'sUDHANSHU KUmar'

In [100]:
reversed(s)

In [101]:
''.join(reversed(s))

'RAMuk uhsnahduS'

In [102]:
"   ".join("Runnati")

'R   u   n   n   a   t   i'

In [116]:
"R".join("Unnati")

'URnRnRaRtRi'

In [103]:
s[::-1]

'RAMuk uhsnahduS'

In [104]:
s = "    Tushar   "
s.strip()

'Tushar'

In [105]:
s.lstrip()

'Tushar   '

In [106]:
s.rstrip()

'    Tushar'

In [107]:
s.center(20,"$")

'$$$    Tushar   $$$$'

In [108]:
s4 = "RUNNATI"
print(s4.isupper())
print(s4.islower())
print(s4.isalnum())
print(s4.isalpha())
print(s4.isdigit())
print(s4.isascii())
print(s4.isdecimal())
print(s4.isnumeric())
print(s4.startswith('R'))
print(s4.endswith('U'))
print(s4.endswith('I'))

True
False
True
True
False
True
False
False
True
False
True

In [109]:
s4 = "runnati"
print(s4.isupper())
print(s4.islower())
print(s4.isalnum())
print(s4.isalpha())
print(s4.isdigit())
print(s4.isascii())
print(s4.isdecimal())
print(s4.isnumeric())

False
True
True
True
False
True
False
False

In [110]:
s4 = "Runnati123"
print(s4.isupper())
print(s4.islower())
print(s4.isalnum())
print(s4.isalpha())
print(s4.isdigit())
print(s4.isascii())
print(s4.isdecimal())
print(s4.isnumeric())

False
False
True
False
False
True
False
False

In [111]:
s4 = "78976"
print(s4.isalnum())
print(s4.isalpha())
print(s4.isdigit())
print(s4.isascii())
print(s4.isdecimal())
print(s4.isnumeric())

True
False
True
True
True
True

In [112]:
s4 = "77575khj*$#@"
print(s4.isascii())
print(s4.isdecimal())
print(s4.isnumeric())

True
False
False

In [113]:
s4 = "  "
print(s4.isupper())
print(s4.islower())
print(s4.isalnum())
print(s4.isalpha())
print(s4.isdigit())
print(s4.isascii())
print(s4.isdecimal())
print(s4.isnumeric())
print(s4.isspace())

False
False
False
False
False
True
False
False
True

In [114]:
s4 = "676 788 0099"
print(s4.isdigit())
print(s4.isascii())
print(s4.isdecimal())
print(s4.isnumeric())

False
True
False
False

In [115]:
s4 = "6767880099"
print(s4.isdigit())
print(s4.isascii())
print(s4.isdecimal())
print(s4.isnumeric())

True
True
True
True

In [117]:
s4 = "676788.0099"
print(s4.isdigit())
print(s4.isascii())
print(s4.isdecimal())
print(s4.isnumeric())

False
True
False
False

In [122]:
s5 = 'Rushi\tkesh\tin\tData\tScience\tTeam'
s5.expandtabs()

'Rushi   kesh    in      Data    Science Team'

s= "this is My First Python programming class and i am learNING python string and its function"
1. Try to extract data from index one to index 300 with a jump of 3 
2. Try to reverse a string without using reverse function 
3. Try to split a string after conversion of entire string in uppercase 
4. try to convert the whole string into lower case 
5. Try to capitalize the whole string 
6. Write a diference between isalnum() and isalpha()
7. Try to give an example of expand tab
8. Give an example of strip , lstrip and rstrip 
9.  Replace a string charecter by another charector by taking your own example 
"sudhanshu"
10. Try  to give a defination of string center function with and exmple 
11. Write your own definition of compiler and interpretor without copy paste form internet in your own language
12. Python is a interpreted of compiled language give a clear ans with your understanding 
13. Try to write a usecase of python with your understanding where to use python

14. you have to send a jupyter notebook to shivan@ineuron.ai before next saturday class 21st of may .

21/5/2022

### List
it is mutable

In [2]:
#21/5/2022
l=[5,4,6,7,9,10,"Rushi",True,[12,67,98],67.98]
l

[5, 4, 6, 7, 9, 10, 'Rushi', True, [12, 67, 98], 67.98]

In [3]:
l[-1]

67.98

In [4]:
l[::-1]

[67.98, [12, 67, 98], True, 'Rushi', 10, 9, 7, 6, 4, 5]

In [5]:
len(l)

10

In [6]:
l[3:8:2]

[7, 10, True]

In [7]:
l[8:3:2]

[]

In [11]:
l[8:0:-1]

[[12, 67, 98], True, 'Rushi', 10, 9, 7, 6, 4]

In [10]:
l[0:8:-1]

[]

In [12]:
l[:3]

[5, 4, 6]

In [16]:
l + ["Rutvik"]

[5, 4, 6, 7, 9, 10, 'Rushi', True, [12, 67, 98], 67.98, 'Rutvik']

In [17]:
l*2

[5,
 4,
 6,
 7,
 9,
 10,
 'Rushi',
 True,
 [12, 67, 98],
 67.98,
 5,
 4,
 6,
 7,
 9,
 10,
 'Rushi',
 True,
 [12, 67, 98],
 67.98]

In [18]:
10 in l

True

In [19]:
67 in l

False

In [20]:
67.98 in l

True

In [21]:
12 in l

False

In [22]:
max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [23]:
l1 = [5,89,53,5667,32,98,]

In [24]:
max(l1)

5667

In [25]:
min(l1)

5

In [26]:
avg(l1)

NameError: name 'avg' is not defined

In [30]:
l2 = ["Rushi","kesh","shan","dare"]

In [31]:
max(l2)

'shan'

In [32]:
min(l2)

'Rushi'

In [33]:
l1.append("Hire")

In [34]:
l1

[5, 89, 53, 5667, 32, 98, 'Hire']

In [35]:
l.append([1,2,3,4])
l

[5, 4, 6, 7, 9, 10, 'Rushi', True, [12, 67, 98], 67.98, [1, 2, 3, 4]]

In [36]:
l.pop(0)

5

In [37]:
l.pop()

[1, 2, 3, 4]

In [40]:
l.reverse()
l

[67.98, [12, 67, 98], True, 'Rushi', 10, 9, 7, 6, 4]

In [43]:
l = l[::-1]
l

[4, 6, 7, 9, 10, 'Rushi', True, [12, 67, 98], 67.98]

In [44]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [50]:
l3 = [5,86,32,9,75,14,19,52,]
l3.sort()
l3

[5, 9, 14, 19, 32, 52, 75, 86]

In [51]:
l3.sort(reverse=True)
l3

[86, 75, 52, 32, 19, 14, 9, 5]

In [52]:
l4 = [2,3,4]
l5 = [6,7,8]
l6 = [3,2,1]
l7 = [l4,l5,l6]
l7

[[2, 3, 4], [6, 7, 8], [3, 2, 1]]

In [62]:
l7[2]

[3, 2, 1]

In [53]:
l7[2][1]

2

In [54]:
l7[0][0]

2

In [55]:
l7[1][1]

7

In [64]:
len(l7[2])

3

In [59]:
l8 = [3,8,2,3,2,5,4,2,3]

In [60]:
l8.count(2)

3

In [65]:
l7.extend(67)

TypeError: 'int' object is not iterable

In [85]:
l7.extend([8,9,10])
l7

[[2, 3, 4], [6, 7, 8], [3, 2, 1], 8, 9, 10]

In [86]:
l7.append(8,9)

TypeError: list.append() takes exactly one argument (2 given)

In [87]:
l7.append(11)
l7

[[2, 3, 4], [6, 7, 8], [3, 2, 1], 8, 9, 10, 11]

In [88]:
l7.extend("Rushi")

In [89]:
l7

[[2, 3, 4], [6, 7, 8], [3, 2, 1], 8, 9, 10, 11, 'R', 'u', 's', 'h', 'i']

In [91]:
l7.index('s')

9

In [94]:
l7.index(8)

3

In [95]:
l7.index([6,7,8])

1

In [96]:
l3

[86, 75, 52, 32, 19, 14, 9, 5]

In [97]:
l3.insert(6,"Tony")

In [98]:
l3

[86, 75, 52, 32, 19, 14, 'Tony', 9, 5]

In [99]:
l3.insert(2,[2,3,4])
l3

[86, 75, [2, 3, 4], 52, 32, 19, 14, 'Tony', 9, 5]

In [100]:
l3.pop()

5

In [101]:
l3.remove(100)

ValueError: list.remove(x): x not in list

In [104]:
l3.remove(52)
l3

[86, 75, [2, 3, 4], 19, 14, 'Tony', 9]

In [105]:
l3[2] = "Stark"
l3

[86, 75, 'Stark', 19, 14, 'Tony', 9]

In [106]:
l3[2] = "z"

In [107]:
l3

[86, 75, 'z', 19, 14, 'Tony', 9]

In [108]:
s = "iNeuron"
s

'iNeuron'

In [109]:
s[2] = y

NameError: name 'y' is not defined

1. Q1. How to count the number in list in list
2. Ans : len(list) 
3. Q2. Difference Between append and Extend?
4. Ans: Append() adds a single element to the end of the list while extend() can add multiple individual elements to the end of the list.
5. Q3. Difference between mutable and immutable?
6. Ans: Mutable means we can change it later but in immutable we can't changed our data

## Tuple 
it is immutable

In [110]:
t = (1,2,3,4,5,6,7,8,9)
t

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [111]:
t[4]

5

In [112]:
t[4:]

(5, 6, 7, 8, 9)

In [113]:
t[0:6:2]

(1, 3, 5)

In [115]:
t[8:3:-3]

(9, 6)

In [116]:
t[2] = "Unnu"

TypeError: 'tuple' object does not support item assignment

In [117]:
t1 = ("hi","How","You")

In [120]:
t + t1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 'hi', 'How', 'You')

In [121]:
t.count('How')

0

In [122]:
t.count(3)

1

In [123]:
t

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [124]:
t.index(4)

3

In [125]:
t.index(9)

8

In [126]:
t3 = list(t)
t3

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [127]:
t3.append(10)

In [132]:
t=tuple(t3)
t

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

## Dictionary
key,value pair

In [133]:
d ={}
type(d)

dict

In [134]:
s1 ={1}
type(s1)

set

In [135]:
d = {'key1':'value1',2:"xyz","name":"Rushi","Num":12345667}
d

{'key1': 'value1', 2: 'xyz', 'name': 'Rushi', 'Num': 12345667}

In [136]:
type(d)

dict

In [137]:
d['name']

'Rushi'

In [138]:
d['Num']

12345667

In [139]:
d.keys()

dict_keys(['key1', 2, 'name', 'Num'])

In [140]:
d.values()

dict_values(['value1', 'xyz', 'Rushi', 12345667])

In [141]:
d2 ={'name':"Rushi",'tech':["Python","ML","AI","NLP","DL","Big Data","Data Analytics","CV"]}
d2

{'name': 'Rushi',
 'tech': ['Python',
  'ML',
  'AI',
  'NLP',
  'DL',
  'Big Data',
  'Data Analytics',
  'CV']}

In [142]:
d3 = {"name":"Rushi","Company":"Raudin","name":"iNeuron"}
d3

{'name': 'iNeuron', 'Company': 'Raudin'}

In [143]:
d3["name1"] = "xyz"
d3

{'name': 'iNeuron', 'Company': 'Raudin', 'name1': 'xyz'}

In [144]:
d3[3] = d

In [145]:
d3

{'name': 'iNeuron',
 'Company': 'Raudin',
 'name1': 'xyz',
 3: {'key1': 'value1', 2: 'xyz', 'name': 'Rushi', 'Num': 12345667}}

In [148]:
d3["D2"] = d2
d3

{'name': 'iNeuron',
 'Company': 'Raudin',
 'name1': 'xyz',
 3: {'key1': 'value1', 2: 'xyz', 'name': 'Rushi', 'Num': 12345667},
 'D2': {'name': 'Rushi',
  'tech': ['Python',
   'ML',
   'AI',
   'NLP',
   'DL',
   'Big Data',
   'Data Analytics',
   'CV']}}

In [149]:
d3.keys()

dict_keys(['name', 'Company', 'name1', 3, 'D2'])

In [151]:
d3.values()

dict_values(['iNeuron', 'Raudin', 'xyz', {'key1': 'value1', 2: 'xyz', 'name': 'Rushi', 'Num': 12345667}, {'name': 'Rushi', 'tech': ['Python', 'ML', 'AI', 'NLP', 'DL', 'Big Data', 'Data Analytics', 'CV']}])

In [153]:
d3.items()

dict_items([('name', 'iNeuron'), ('Company', 'Raudin'), ('name1', 'xyz'), (3, {'key1': 'value1', 2: 'xyz', 'name': 'Rushi', 'Num': 12345667}), ('D2', {'name': 'Rushi', 'tech': ['Python', 'ML', 'AI', 'NLP', 'DL', 'Big Data', 'Data Analytics', 'CV']})])

In [152]:
d2 + d3

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

### SET

In [154]:
s2 = {2,3,4,5,6,3,4,2,3,4,5,6,1,8,7,9}
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [155]:
s3 ={234,456,67,98,556,1002,5667,433,23,1,24,78,9997,254,657}
s3

{1, 23, 24, 67, 78, 98, 234, 254, 433, 456, 556, 657, 1002, 5667, 9997}

In [157]:
s4={"Rushi",5668,12,56,756,64,'b','6'}
s4

{12, 56, 5668, '6', 64, 756, 'Rushi', 'b'}

In [158]:
s2[0]

TypeError: 'set' object is not subscriptable

In [159]:
list(s2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [160]:
tuple(s2)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [162]:
l9 = [4,5,2,1,3,4,5,6,7,8,9,5,4,5,6,7,8,5,2,5,77,85,4,32,2,1,2,4,6,78,9]
l9

[4,
 5,
 2,
 1,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 5,
 4,
 5,
 6,
 7,
 8,
 5,
 2,
 5,
 77,
 85,
 4,
 32,
 2,
 1,
 2,
 4,
 6,
 78,
 9]

In [163]:
l9=set(l9)

In [166]:
l9=list(l9)
l9

[32, 1, 2, 3, 4, 5, 6, 7, 8, 9, 77, 78, 85]

In [171]:
s5 = {(56,4,3,3,3,9,7,9),7,4,2,4,3,5,6,}
s5

{(56, 4, 3, 3, 3, 9, 7, 9), 2, 3, 4, 5, 6, 7}

In [168]:
s6 ={[5,7,90,45,21,11,5],90,5,432,32}
s6

TypeError: unhashable type: 'list'

In [172]:
s5.remove(4)
s5

{(56, 4, 3, 3, 3, 9, 7, 9), 2, 3, 5, 6, 7}

In [175]:
s5.discard(234567891)
s5

{(56, 4, 3, 3, 3, 9, 7, 9), 2, 3, 5, 6, 7}

In [177]:
s5.pop()
s5

{3, 5, 6, 7}

#Questions 

L = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
1. Try to reverse a list 
2. try to access 234 out of this list 
3. try to access 456 
4. Try to extract only a list collection form list L
5. Try to extract "sudh"
6. Try to list all the key in dict element avaible in list 
7. Try to extract all the value element form dict available in list

In [2]:
L = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
L

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [61]:
# Q1
L[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [4]:
# Q2
D=list(L[8].keys())[1]
D

234

In [3]:
L[7][0]

234

In [64]:
# Q3
L[5][1]

456

In [65]:
# Q4. Try to extract only a list collection form list L
for i in L:
    if type(i) == list:
        print(i)

[23, 456, 67, 8, 78, 78]
[345, 56, 87, 8, 98, 9]

In [5]:
print(L[5])
print(L[6])

[23, 456, 67, 8, 78, 78]
[345, 56, 87, 8, 98, 9]

In [67]:
# Q5. Try to extract "sudh"
print(D['key1'])
print(L[-1]['key1'])

sudh
sudh

In [205]:
# Q6. Try to list all the key in dict element avaible in list 
list(D.keys())

['key1', 234]

In [206]:
# Q7. Try to extract all the value element form dict available in list 
D.values()

dict_values(['sudh', [23, 45, 656]])

22/5/2022

IF - Else

In [3]:
a = 10
if a == 11:
    print("This is correct")
else:
    print('This is incorrect')

This is incorrect

In [4]:
if a > 5:
    print("Greater than 5")
else:
    print("Less than 5")

Greater than 5

In [6]:
b = 19
if b != 11:
    print("Value is not equal to 11")
else:
    print("Vlaue is equal to 11")

Value is not equal to 11

In [8]:
c = 15
if c == 10:
    print("Here we are trying to compare 15 with 10")
elif c == 11:
    print("We are trying to compare 11 with 15")
else:
    print("if all the blocks will fail then do this")

if all the blocks will fail then do this

In [11]:
price = 500
if price > 500:
    print("May be i won't be able to buy a jacket")
elif price < 500:
    print("I will be able to buy a jacket")
elif price == 500:
    print("For sure i will be able to buy")
else:
    print("I don't know")

For sure i will be able to buy

In [12]:
l = [1,2,3,4,5,6,7,8,9,10]
2 in l

True

In [13]:
if 60 in l:
    print("Try to perform a task")
else:
    print("Do not perform this task")

Do not perform this task

In [14]:
60 in l

False

IF - ELIF

In [16]:
if 1 in l:
    print("Try to do a addition")
elif 2 in l:
    print('Try to do sub')
elif 3 in l:
    print("Try to do mul")
else:
    print("Try to do div")
if 4 in l:
    print("This is new statement")

Try to do a addition
This is new statement

In [27]:
price  = int(input())
if price < 500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
        if price < 200 :
            print("i would like to do sometign")
    else :
        print("i wont be able to buy anyting")
else :
     print("i wont be able to buy anything with this price tag")
     if price > 500:
        print("lets try someting else ")

i will be able to buy something
i will be able to buy a jacket

In [29]:
b = int(input("Enter a price: "))
if b < 2000:
    print("i will be able to buy something")
    if b > 1700:
        print("I will be able to buy Spectacles")
    elif b > 1500:
        print("I will be able to buy two Jeans")
    elif b > 1200:
        print("I will be able to buy 2 shirts")
    elif b > 1000:
        print("I will be able to buy Shoes")
    else:
        print("I won't be able to buy anything")
else:
    print(" I won't be able to buy anything with this price tag")

i will be able to buy something
I won't be able to buy anything

In [49]:
marks = int(input("Enter marks: "))
if marks < 600:
    print("NO GRE")
    if marks < 500:
        print("Admmission in Tuffle")
        if marks < 400:
            print("Try something else")
else:
    print("Addmission in GRE")

NO GRE
Admmission in Tuffle
Try something else

In [54]:
val  = float(input("enter a floating point number"))
if val >= 0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("entered value is a positive number ")
else :
    print("entered number is a negative number")

entered value is a positive number

In [55]:
#  AND Table            OR Table           
# F(0) F(0) -> F(0)    F(0) F(0) -> F(0)
# F(0) T(1) -> F(0)    F(0) T(1) -> T(1)
# T(1) F(0) -> F(0)    T(1) F(0) -> T(1)
# T(1) T(1) -> T(1)    T(1) T(1) -> T(1)

In [1]:
a = "Rushi"
if a == "Rushi" or a == "rushi":
    print("He is a Rushi")

He is a Rushi

In [3]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d == 13:
    print("Let's do something")

Let's do something

In [4]:
d = {'key1':"value","key2":"Rushi",'key3':"iNeuron"}

In [6]:
if d['key1'] =="value" and d['key2'] == "Rushi" and d['key3'] == "iNeuron":
    print("All the values are verified")
    print(d.values())
else:
    print("All the values are not vearified")

All the values are verified
dict_values(['value', 'Rushi', 'iNeuron'])

In [8]:
l = [1,2,3,4,5,6,"Rushi",234.67]
for i in l:
    print(i)

1
2
3
4
5
6
Rushi
234.67

In [16]:
for i in l:
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))
    else:
        print(i)

2
3
4
5
6
7
Rushi1
235.67

In [18]:
l1 =[]
for i in l:
    if type(i) == int:
        l1.append(i)
l1

[1, 2, 3, 4, 5, 6]

In [57]:
a=[9,8,7,6,5,4,3,2,10]
for i in a :
    print(i ,end=' ')

9 8 7 6 5 4 3 2 10

In [58]:
a,b,c,d=10,11,12,13
####### Question 01 #######
if a==10 or b==11 and c==12 and d==113: #### Case 1
    # this is equal to a==10 or (b==11 and c==12 and d==113)
    print('lets do something 1')
if (a==10 and b==11 ) or (c==12 and d==113):  #### Case 2
    # this is equal to (a==10 and b==11) or (c==12 and d==113)
    print('lets do something 2')
if a==10 and b==11 and c==12 and d==13 or a==9:   #### Case 3
    # this is equal to (a==10 and b==11 and c==12 and d==13) or a==9
    print('lets do something 3')
if a==9 or b==11 and c==12 and d==13:   #### Case 4
    print('lets do something 4')
############# Question 2 #########
# What is the difference between:
print(type(a) == int)
print(type(a) is int)

lets do something 1
lets do something 2
lets do something 3
lets do something 4
True
True

## For Loop

28/5/2022

In [1]:
l = [1,2,3,4,"sudh" ,"kumar" , 45.56]

In [2]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself the it will execute else

In [3]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [4]:
s = "sudhanshu"
for i in s :
    if i == 'z' :
        break
    print(i)
else :
    print("print srtring " , s )

s
u
d
h
a
n
s
h
u
print srtring  sudhanshu

In [4]:


d = {'key1':"Rushi",'contact':"rushikhandare2203@gmail.com","position":"xyz"}

In [9]:
for i in d:
    print(i ,":", d[i])

key1 : Rushi
contact : rushikhandare2203@gmail.com
position : xyz

In [10]:
d['key1']

'Rushi'

In [14]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [15]:
list(range(0,9,-1))

[]

In [16]:
list(range(9,0,-2))

[9, 7, 5, 3, 1]

In [13]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

## Patterns

Right Triangle

In [29]:
n = 4
for i in range(4):
    for j in range(0,i+1):
        print("Rushi",end=" ")
    print()

Rushi
Rushi Rushi
Rushi Rushi Rushi
Rushi Rushi Rushi Rushi

In [28]:
n = 4
for i in range(n):
    for j in range(i+1):
        print("Rushi",end=" ")
    print()

Rushi
Rushi Rushi
Rushi Rushi Rushi
Rushi Rushi Rushi Rushi

In [30]:
n = 5
p = 1
for i in range(n):
    for j in range(i+1):
        print(p,end=" ")
    p+=1
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [31]:
n = 5
p = 5
for i in range(n):
    for j in range(i+1):
        print(p,end=" ")
    p-=1
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [37]:
n = 5
for i in range(n):
    p = 1
    for j in range(i+1):
        print(p,end=" ")
        p+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [32]:
n = 5
p = 0
for i in range(n):
    for j in range(i+1):
        print(p,end=" ")
    p+=2
    print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

In [33]:
n = 5
for i in range(n):
    for j in range(i+1):
        if(i%2==0):
            print('1',end=" ")
        else:
            print('2',end=" ")
    print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [69]:
# Floyd Triangle
n = 5
p = 1
for i in range(n):
    for j in range(i+1):
        print(p,end=" ")
        p+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [60]:
n = 7
for i in range(n):
    p = 7
    for j in range(i+1):
        print(p,end=" ")
        p -=1
    print()

7
7 6
7 6 5
7 6 5 4
7 6 5 4 3
7 6 5 4 3 2
7 6 5 4 3 2 1

Left Triangle

In [17]:
n = 4
for i in range(4):
    for j in range(i,n):
        print("Rushi",end=" ")
    print("\n")

Rushi Rushi Rushi Rushi

Rushi Rushi Rushi

Rushi Rushi

Rushi

In [43]:
n = 5
p = 1
for i in range(n):
    for j in range(i,n):
        print(p,end=" ")
    p+=1
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [46]:
n = 5
for i in range(n):
    p = 1
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print(p,end=" ")
        p+=1
    print()

  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

In [67]:
n = 5
p = 5
for i in range(n):
    for j in range(i,n):
        print(p,end=" ")
        p-=1
    print()

5 4 3 2 1
0 -1 -2 -3
-4 -5 -6
-7 -8
-9

In [62]:
n = 7
k = 7
for i in range(n):
    p = k 
    for j in range(i):
        print(" ",end=" ")
    for j in range(i,n):
        print(p,end=" ")
        p -= 1
    k -= 1
    print()

7 6 5 4 3 2 1
  6 5 4 3 2 1
    5 4 3 2 1
      4 3 2 1
        3 2 1
          2 1
            1

Hill Pattern

In [22]:
n = 5
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [74]:
n = 3
for i in range(n):
    for j in range(i,n-1):
        print(" " *len("Rush"),end=" ")   
    for j in range(i+1):
        print("Rush",end=" ")
    for j in range(i):
        print("Rush",end=" ")
    print()

          Rush
     Rush Rush Rush
Rush Rush Rush Rush Rush

In [6]:
n = 3
for i in range(n):
    for j in range(i,n):
        print("   ",end="  ")
    for j in range(i):
        print('Rushi',end="  ")
    for j in range(i+1):
        print('Rushi',end="  ")
    print()

               Rushi
          Rushi  Rushi  Rushi
     Rushi  Rushi  Rushi  Rushi  Rushi

In [50]:
n = 5
for i in range(n):
    p=1
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
        p+=1
    for j in range(i+1):
        print(p,end=" ")
        p+=1
    print()

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

In [63]:
n = 7
for i in range(n):
    p = 1
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
        p += 1
    for j in range(i+1):
        print(p,end=" ")
        p -=1
    print()

              1
            1 2 1
          1 2 3 2 1
        1 2 3 4 3 2 1
      1 2 3 4 5 4 3 2 1
    1 2 3 4 5 6 5 4 3 2 1
  1 2 3 4 5 6 7 6 5 4 3 2 1

Reverse Hill Pattern

In [7]:
for i in range(n):
    for j in range(i+1):
        print("   ",end="  ")
    for j in range(i,n-1):
        print('Rushi',end="  ")
    for j in range(i,n):
        print('Rushi',end="  ")
    print()

     Rushi  Rushi  Rushi  Rushi  Rushi
          Rushi  Rushi  Rushi
               Rushi

Diamond

In [8]:
n = 3
for i in range(n-1):
    for j in range(i,n):
        print("   ",end="  ")
    for j in range(i):
        print('Rushi',end="  ")
    for j in range(i+1):
        print('Rushi',end="  ")
    print()
for i in range(n):
    for j in range(i+1):
        print("   ",end="  ")
    for j in range(i,n-1):
        print('Rushi',end="  ")
    for j in range(i,n):
        print('Rushi',end="  ")
    print()

               Rushi
          Rushi  Rushi  Rushi
     Rushi  Rushi  Rushi  Rushi  Rushi
          Rushi  Rushi  Rushi
               Rushi

In [34]:
n = 5
p = 1
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
    for j in range(i+1):
        print(p,end=" ")
    p +=1
    print()
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
    for j in range(i,n):
        print(p,end=" ")
    p-=1
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

In [59]:
n = 5
for i in range(n):
    p = 1
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
        p+=1
    for j in range(i+1):
        print(p,end=" ")
        p+=1
    print()
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
        p-=1
    for j in range(i,n):
        print(p,end=" ")
        p-=1
    print()

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9
  10 9 8 7 6 5 4 3 2
    1 0 -1 -2 -3 -4 -5
      -6 -7 -8 -9 -10
        -11 -12 -13
          -14

In [31]:
t = (3,32,34,67,98,55,267,276)
t

(3, 32, 34, 67, 98, 55, 267, 276)

In [32]:
range(len(t))

range(0, 8)

In [33]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 32
2 34
3 67
4 98
5 55
6 267
7 276

In [36]:
s = "iNeuron"
for i in range(len(s)):
    print(i,s[i])

0 i
1 N
2 e
3 u
4 r
5 o
6 n

In [38]:
s = "iNeuron"
for i in range(len(s)):
    print(i,s[i])

0 i
1 N
2 e
3 u
4 r
5 o
6 n

In [39]:
for i in  range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 N
0 i

In [42]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'Rushi') <class 'tuple'> <class 'str'>
('contact', 'rushikhandare2203@gmail.com') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [43]:
l = ["Rush","Khan",123467,"rushikhan@ineuron.ai",345,9887897]
l

['Rush', 'Khan', 123467, 'rushikhan@ineuron.ai', 345, 9887897]

In [45]:
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)
l1

[123467, 345, 9887897]

In [47]:
d1 = {1:3456,"name":"Rush","mail_id":"rushikhan@ineuron.ai","45":"tyuqwgtyhg",234:"8976"}
d1

{1: 3456,
 'name': 'Rush',
 'mail_id': 'rushikhan@ineuron.ai',
 '45': 'tyuqwgtyhg',
 234: '8976'}

In [55]:
for i in d1:
    if type(i) == int:
        print(i,":",d1[i])

1 : 3456
234 : 8976

In [52]:
s1 = "aaaabbbccd"
set(s1)

{'a', 'b', 'c', 'd'}

In [54]:
for i in set(s1):
    print(i,":",s1.count(i))

a : 4
d : 1
c : 2
b : 3

In [59]:
i1 = 2344459876543234567
for j in str(i1):
    print(int(j),type(int(j)))

2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
4 <class 'int'>
4 <class 'int'>
5 <class 'int'>
9 <class 'int'>
8 <class 'int'>
7 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
3 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>

In [69]:
t = ("Rush","khan",[1,2,3,4,5,6],(3,4,5,6,7),{"key1":"Rush",3:"khan",4:3})
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3
3
khan
4
3

In [70]:
d1

{1: 3456,
 'name': 'Rush',
 'mail_id': 'rushikhan@ineuron.ai',
 '45': 'tyuqwgtyhg',
 234: '8976'}

29/5/2022

## While loop

In [2]:
a = 1
b = 10
while a<=b:
    print(a)
    a = a + 1

1
2
3
4
5
6
7
8
9
10

In [4]:
a = 1
b = 10
while a <= b:
    print(a)
    a = a+2
else:
    print("Print this else block")

1
3
5
7
9
Print this else block

In [5]:
a = 1
b = 10
while a < 10:
    print(a)
    if a == 5:
        break 
    a = a + 1
else:
    print("Print This")

1
2
3
4
5

In [9]:
a = 1
b = 10
while a < b:
    a += 1
    if a == 3:
        continue
    print(a)

2
4
5
6
7
8
9
10

In [10]:
a = 1
b = 10
while a < b:
    a += 1
    if a == 3:
        pass 
    print(a)

2
3
4
5
6
7
8
9
10

In [11]:
l = [1,2,3,4,5,6,7,8,9,10]
a = 0
while a < len(l):
    print(l[a])
    a += 1

1
2
3
4
5
6
7
8
9
10

In [13]:
t = (3,4,5,6,1,2,7,9,8)
a = 0
while a < len(t):
    if t[a] == 6 or t[a] == 7:
        print(a)
    a += 1

3
6

In [19]:
a = -1
while a >= -len(t):
    if t[a] == 6 or t[a] == 7:
        print("Index of ",t[a],' is ',a)
    a = a-1

Index of  7  is  -3
Index of  6  is  -6

In [18]:
i = 0 
while i < len(t):
    if t[i] == 6 or t[i] == 7:
        print("Index of ",t[i],' is ',i)
    if i == -len(t):
        break 
    i -= 1

Index of  7  is  -3
Index of  6  is  -6

In [33]:
d = {'K1':"Rushi",'K2':[1,2,3,4],'K3':(2,3,4,5,6)}
i = 0
j = list(d.keys())
while i < len(d):
    print(d[j[i]])
    i += 1  

print(j)

Rushi
[1, 2, 3, 4]
(2, 3, 4, 5, 6)
['K1', 'K2', 'K3']