## Function

29/5/2022

In [1]:
def test():
    print("This is my first functions")

test()

This is my first functions

In [2]:
type(test)

function

In [3]:
test() + "Rushi"

This is my first functions

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [4]:
str(test()) + "Rushi"

This is my first functions

'NoneRushi'

In [9]:
def test1():
    return "This is my first fun"

test1() + " Rushi"

'This is my first fun Rushi'

In [10]:
a = test1()
a

'This is my first fun'

In [12]:
def test2():
    return 1,3,5,[1,2,3,4,5,6,7,8]

b = test2()
b

(1, 3, 5, [1, 2, 3, 4, 5, 6, 7, 8])

In [14]:
a,c,d,e=test2()
print(a)
print(c)
print(d)
print(e)

1
3
5
[1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
def test3():
    a = 4*5
    b = 6+4
    return a,b

test4()

(20, 10)

In [18]:
mul , sum = test3()
print(mul)
print(sum)

20
10

In [29]:
def test5(a,b):
    l = []
    while a <= b:
        l.append(a)
        a +=2
    else:
        print("Print this else block") 
    return l 

test5(1,10)

Print this else block

[1, 3, 5, 7, 9]

In [30]:
test5(18,36)

Print this else block

[18, 20, 22, 24, 26, 28, 30, 32, 34, 36]

In [31]:
type(test5(67,89))

Print this else block

list

In [4]:
l = [4,5,6,7,8,[4,3,26,89,76,6],(45,"Rushi","Kumar"),"Rushi","Kapoor"]
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)

l1

[4, 5, 6, 7, 8]

In [7]:
def test6():
    l1 = []
    for i in l:
        if type(i) == int:
            l1.append(i)
    return l1

test6()

[4, 5, 6, 7, 8]

In [2]:
t1 = (3,4,2,9,5,6,67,7,56,87,98)
a=-1
while a>=-len(t1):
    if t1[a]==6 or t1[a]==7 :
        print('index of ',t1[a], ' is ',a)
    a=a-1

index of  7  is  -4
index of  6  is  -6

In [3]:
def test7(t):
    a=-1
    while a>=-len(t):
        if t[a]==6 or t[a]==7 :
            print('index of ',t[a], ' is ',a)
        a=a-1
    
test7(t1)

index of  7  is  -4
index of  6  is  -6

In [ ]:
Your First Challenge : 
    
you have to submit it by next saturday 4th june 2022  : 
    shivan@ineuron.ai ,sudhanshu@ineuron.ai
    
q1 : Try to print this by using while loop 
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * * * 

q2 : try to print below by using while loop : 
        
A
B H 
C I N
D J o S
E K p T W
F L Q U X z
G M R V Y 

q3 : Try to print all the number divisible by 3 in between a range of 40 - 400
    
q4 : Try to filter out all the vowels form below text by using while loop : 
 """Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[32]

Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.[33][34]

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[35] Python 2.0 was released in 2000 and introduced new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support. Python 3.0, released in 2008, was a major revision that is not completely backward-compatible with earlier versions. Python 2 was discontinued with version 2.7.18 in 2020.[36]

Python consistently ranks as one of the most popular programming languagesc""" 


q5 : Try to generate all the even number between 1- 1000

q6 : Define a function for all the above problem statememnt  . 
    
q7 : write a code to get a time of your system 

q8 : Write a code to fetch date form your system 

q9 : Write a code to send a mail to your friend 

q10 : write a code to trigger alarm for you at scheduled time 

q11 : write a code to check ip address of your system 

q12 : Write a code to check a perticular installation in your system

q13 : Write a code to convert any text in to voice 

q14 : you have to write a fun which will take string and return a len of 
it without using a inbuilt fun len

q15 :write a fun which will be able to print an index of all premitive element which you will pass 

q16 : Write a fun which will take input as a dict and give me out as a list of all the values 
even in case of 2 level nesting it should work . 

q17 : write a function whihc will take multiple list as a input and give me concatnation of all the element as 
and output

q18 : Write a function which will whould return list of all the file name from a directory . 

q19 : write a function whihc will be able to read a image file and show it to you .
    
q20 : write a function by which you will be able to append two PDF files . 
    
q21 : write a function which can help you to filter only word file from a directory . 
    
q22 : write a function which can read video file and play for you . 
    
q23 : write a function which will be able to shutdown your system . 

q24 : Write a function which will whould return list of all the file name from a directory . 

q25 : write a function which will be able to access your mail .

3/6/2022
Revision Class ALL Task Solution

4/6/2022

In [5]:
PI = 3.141593
radius_p = float(input('radius'))
perimeter = 2 * PI * radius_p
peri=str(perimeter)
print('perimeter:', peri)

perimeter: 37.699116

In [7]:
def test(a,b):
    "This is my function for concatination or addition"
    return a + b

In [8]:
test(3,7)

10

In [9]:
test("Rushi","Kumar")

'RushiKumar'

In [10]:
test(a=9,b=8)

17

In [11]:
test(b=15,a=5)

20

In [12]:
def test1(a,b,c,d,e):
    return a,b,c,d,e

In [13]:
test1(3,4,5,6,7)

(3, 4, 5, 6, 7)

In [14]:
def test2(*a):
    return a

In [15]:
test2(6,5,3,2,"dj.")

(6, 5, 3, 2, 'dj.')

In [19]:
def test3(*args):
    l = []
    for i in args:
        l.append(i)
    return l

In [20]:
test3("lkklj",[67,78,8],(7,5,2,13,4))

['lkklj', [67, 78, 8], (7, 5, 2, 13, 4)]

In [21]:
test3(7,8,3,2,1,3,456,89,97)

[7, 8, 3, 2, 1, 3, 456, 89, 97]

In [22]:
def test4(a,b,c,d,*m):
    return a,b,c,d,m

In [26]:
test4(3,4,5,6,8,55,4,43,2,1,234,556)

(3, 4, 5, 6, (8, 55, 4, 43, 2, 1, 234, 556))

In [28]:
def test5(*m,a,b,c,d):
    return m, a,b,c,d
    
test5(3,455,6,67,7,8,88,9,43,22,12,a=3,b=4,c=5567,d=89)

((3, 455, 6, 67, 7, 8, 88, 9, 43, 22, 12), 3, 4, 5567, 89)

In [30]:
def test6(**rushi):
    return rushi 

test6(m=9,l=6,n=34,o=[98,54,34,8765,34])

{'m': 9, 'l': 6, 'n': 34, 'o': [98, 54, 34, 8765, 34]}

In [31]:
d = {a=6,n=54,v=57,m=57}
test6(d)

SyntaxError: invalid syntax (945848581.py, line 1)

In [33]:
def test7(*m,**s):
    return m,s 

test7(345,67,12,456,9897,x=8,y=65,z="Unnu",k="Darshi")

((345, 67, 12, 456, 9897), {'x': 8, 'y': 65, 'z': 'Unnu', 'k': 'Darshi'})

In [37]:
def test8(*m):
    n = 1
    for i in m:
        if type(i) == int:
            n = n*i
    return n 

test8(3,56,7,8,8,99,"rou","juyuy")

7451136

Ananymous Function

In [38]:
n = lambda a,b : a+b

In [39]:
n(67,98)

165

In [40]:
def test9(a,b):
   return a+b

test9(67,98)

165

In [42]:
m = lambda *jh : jh 
m(0,46,31,565,2142,56432,35652,4)

(0, 46, 31, 565, 2142, 56432, 35652, 4)

In [43]:
t = ("kh","an","dare",89,45)
[i for i in t]

['kh', 'an', 'dare', 89, 45]

In [45]:
s = "hi How are you guys"
[j for j in s]

['h',
 'i',
 ' ',
 'H',
 'o',
 'w',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'y',
 'o',
 'u',
 ' ',
 'g',
 'u',
 'y',
 's']

In [52]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [53]:
l = lambda *x : [i**2 for i in x]
l(6,54,32,98,7,4)

[36, 2916, 1024, 9604, 49, 16]

In [3]:
def test10(**kwargs):
    count = 0
    for i in kwargs.values():
        if type(i) == str or type(i) == list:
            count += 1
    return count

test10(a=7,b= "rushi", c = 678,d = "rushi" , l=[4,5,6,8,"rushi"])

3

In [4]:
def test11(**kw):
    return list(kw.values())

test11(a=7,b= "rushi", c = 678,d = "rushi" , l=[4,5,6,8,"rushi"])

[7, 'rushi', 678, 'rushi', [4, 5, 6, 8, 'rushi']]

In [ ]:
Todays task :
    q1 : Try to print a prime number in between 1 to 1000
    q2 : Try to write a function which  is equivalent  to print function in python
    q3 : Try to write a function which is a replica of list append , extend and pop function 
    q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
    q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
    q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file 
        
        shivan@ineuron.ai
        sudhashu@ineuron.ai